.list {
    display: flex;
    flex-direction: column;
    padding: 0 0 40px 0;

    justify-content: space-between;
}

.listItem {
    display: flex;
    justify-content: space-between;
}

#item1 {
    font-size: 100px;
    padding: 0 10px 0 20px;
}
#item2 {
    font-size: 90px;
    padding: 0 10px 0 25px;
}
#item3 {
    font-size: 79px;
    padding: 0 10px 0 30px;
}
#item4 {
    font-size: 68px;
    padding: 0 10px 0 35px;
}
#item5 {
    font-size: 57px;
    padding: 0 10px 0 40px;
}