.priceList {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

    width: 250px;
}

.priceItem {
    height: 25px;
    margin: 10px 10px 0 0;
    width: fit-content;
}

.anonym {
    margin: 20px 0;
}

.donateInput{
    width: 123px;
    padding: 10px 0 0 0;
}