.priceList {
    display: flex;
    align-items: center;
    align-content: center;

}

.priceItem {
    height: 25px;
    margin: 0 10px 0 0;
    width: fit-content;
}

.anonym {
    margin-left: 0;
}

.donateInput{
    width: 100px;
    padding: 10px 10px 10px 0;
}