/* litfass */

.background{
    /* position: absolute; */
    width:100%;
    height:100%;
    background-image: url("https://tappqa.tobit.com/training/2020/JW/images/event_action.jpg");
    background-position: center; 
    background-repeat: no-repeat; 
    background-size: cover;
}

.grid {
    display: grid;
    height: 1050px;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
}

#tvQRCode {
    padding-top: 20px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

#qrItem {
    grid-column: 2 / 3;
}

#tvProgressBar {
    grid-column: 1 / span 3;
    padding: 80px;
}

/* App */

.box {
    border-radius: 5px;
    box-shadow: 1px 5px 10px black;
    padding: 20px;
}

.flexContainer {
    display: flex;
    flex-direction: column;
}

.donateButton {
    text-align: center;
}