/* litfass */

.tapp {
    height: 100%;
    background-image: "https://tappqa.tobit.com/training/2020/JW/images/crowd-789652_1920.png";
}

.grid {
    display: grid;
    height: 1050px;

    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
}

.gridItem {
    border: solid red 5px;
}

#tvQRCode {
    display: flex;
    align-content: center;
    align-items: center;
}

/* App */

.flexContainer {
    display: flex;
    flex-direction: column;
}