/* litfass */

.tapp {
    height: 100%;
}

.grid {
    display: grid;
    margin: 30px;

    grid-template-columns: auto 400px;
    grid-template-rows: auto 500px;
    column-gap: 100px;
    row-gap: 50px;
    grid-template-areas: 
    "list qrcode"
    "progressbar progressbar";
}

/* App */

.flexContainer {
    display: flex;
    flex-direction: column;
}